- title "Status da Fazenda"
- present(@farm) do |farm|
  .row
    .col-md-4
      %p= line_chart(farm.indicators, { title: { display: true, text: "Indicadores Econômicos" } })
    .col-md-4
      %p= bar_chart(farm.inventory, farm.stack_options)
  .row
    .col-md-5
      = render partial: "dre", object: farm.dre
    .col-md-7
      = render partial: "assets_balance", object: farm.assets_balance
