- title "Status da Fazenda"
.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        Total de Cabeças de Gado
      .panel-body
        %p
          %b Machos
        %p
          %b Femeas
        %p
          %b Total
  .col-lg-4
    .panel.panel-default
      .panel-heading
        Saldo
      .panel-body
        %p
          %b Total de Vendas
        %p
          %b Total de Compras
        %p
          %b Total
