.panel.panel-default
  .panel-heading
    %h4 Reenviar email de confirmação
  .panel-body
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = f.input :email, autofocus: true
      = f.button :submit, "Reenviar Email", class: "btn btn-block btn-primary"

    = render "devise/shared/links"
