- title "Detalhes do Estoque"
- apagar_path inventory_path(@inventory)
= content_for :symbol do
  %i.fa.fa-fw.fa-bank
- heading @inventory.item || "???"
%p
  %b Descrição
  = @inventory.description || "vazia"
%hr
  %h4 Entradas
  %hr
  %p= render @inventory.entries
