#page-wrapper
  = render partial: "shared/page_header", locals: { title: "Editar Contato", icon: "user" }
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading= @partner.name
        .panel-body
          = render 'form'
        .panel-footer
          = link_to 'Voltar', partners_path
