#page-wrapper
  = fa_page_header("Contatos", "user")
  .row
    .col-lg-12
      %table.table.table-stripped.table-bordered.table-hover#dataTables-sales
        %thead
          %tr
            %th Nome
            %th Contato
            %th Negócios
            %th Ações

        %tbody
          - @partners.each do |partner|
            %tr
              %td= partner.name
              %td= partner.contact
              %td= link_to "Listar", partner_deals_path(partner)
              %td
                =link_to 'Detalhes', partner
                =link_to 'Editar', edit_partner_path(partner)
                =link_to 'Apagar', partner, :method => :delete, :data => { :confirm => 'Tem certeza que deseja excluir?' }
