#page-wrapper
  = fa_page_header("Novo Contato", "user")
  .row
    .col-lg-4
      .panel.panel-default
        .panel-heading Dados do Contato
        .panel-body= render 'form'
        .panel-footer= link_to 'Voltar', partners_path
