#page-wrapper
  .row
    .col-lg-12
      %h1.page-header
        %i.fa.fa-user~ " Novo Contato"
  .row
    .col-lg-4
      .panel.panel-default
        .panel-heading Dados do Contato
        .panel-body= render 'form'
        .panel-footer= link_to 'Voltar', partners_path
