%h1 SEM TERRA!
%h4
  Seu usuário foi cadastrado e confirmado mas você ainda não possui
  uma fazenda. Aguarde enquanto o ditador benevolente avalia se
  permite a sua participação neste maravilhoso sistema.
