.row
  .col-lg-12
    .panel.panel-info
      .panel-heading= "Nenhum #{resource.model_name.human} Encontrado"
      .panel-body
        = "Não existe nenhum #{resource.model_name.human} cadastrado com os critérios especificados"
