= render partial: "shared/flash_message", locals: { type: :notice }
= render partial: "shared/flash_message", locals: { type: :alert }
= render partial: "shared/flash_message", locals: { type: :error }
