.container.fa-padding-top-bottom
  .row
    .col-lg-12
      %p.text-center.fa-intro-text
        %i.fa.fa-leaf
          %span~ " Fazenda Aliança"
      %p.text-center.fa-intro-subtext Gestão e Agronegócio
