- if user_signed_in?
  .navbar-default.sidebar{role: "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav
        %li
          %a{href: reports_path}
            %i.fa.fa-bar-chart-o
              %span.fa-titulo Relat贸rios
        %li
          %a{href: "#"}
            %i.fa.fa-money
              %span.fa-titulo Neg贸cios
          %ul.nav.nav-second-level
            = fa_menu_item(new_deal_path, "Cadastrar Neg贸cio", "money")
            = fa_menu_item(deals_path, "Listar Neg贸cios", "money")
        %li
          %a{href: "#"}
            %i.fa.fa-user
              %span.fa-titulo Contatos
          %ul.nav.nav-second-level
            = fa_menu_item(new_partner_path, "Cadastrar Contato", "user")
            = fa_menu_item(partners_path, "Listar Contatos", "user")
