%nav.navbar.navbar-default.navbar-static-top{role: "navigation", style: "margin-bottom: 0"}
  .navbar-header
    %div
      - if user_signed_in?
        %a.navbar-brand{href: "#"}
          %button.btn.btn-success.btn-circle
            %i.fa.fa-leaf
          %span#company= current_user.farm.name
      - else
        %a.navbar-brand{href: root_path}
          %button.btn.btn-circle
            %i.fa.fa-fire
          %span#company
            Sua Fazenda

  %ul.nav.navbar-top-links.navbar-right
    - if user_signed_in?
      %li
        %a{href: new_partner_path}
          %i.fa.fa-users
      %li
        %a{href: new_fact_path}
          %i.fa.fa-book
      %li
        %a{href: new_inventory_path}
          %i.fa.fa-list-alt
      %li
        %a{href: new_account_path}
          %i.fa.fa-calculator


      %li
        %strong= "#{current_user.email}"
      %li= link_to "Sair", destroy_user_session_path, :method => :delete
