%nav.navbar.navbar-default.navbar-static-top{role: "navigation", style: "margin-bottom: 0"}
  .navbar-header
    %div
      - if user_signed_in?
        %a.navbar-brand{href: reports_path}
          %button.btn.btn-success.btn-circle
            %i.fa.fa-leaf
          %span.fa-title= current_user.farm
      - else
        %a.navbar-brand{href: root_path}
          %button.btn.btn-circle
            %i.fa.fa-fire
          %span.fa-title
            Sua Fazenda

  %ul.nav.navbar-top-links.navbar-right
    - if user_signed_in?
      %li
        %strong= "#{current_user.email}"
      %li= link_to "Sair", destroy_user_session_path, :method => :delete
