.nested-fields
  = f.input :inventory_id, collection: Inventory.all.pluck(:item, :id)
  = f.input :type, collection: [ Checkin.model_name.human, Checkout.model_name.human ]
  = f.input :amount

  %i.fa.fa-remove.fa-fw
  = link_to_remove_association "Esta movimentação não altera estoque", f, data: { confirm: "Você está certo disso?" }
