- title "Fato Contábil"
- apagar_path fact_path(@fact)
= content_for :symbol do
  %i.fa.fa-fw.fa-pencil
- heading @fact.description || "???"
%p
  %b Data:
  %p= @fact.date
%p
  %b Descrição:
  %p= @fact.description || "vazia"
%hr
  %h4 Movimentações Financeiras
  %p= render @fact.moves
