#page-wrapper
  .row
    .col-lg-12
      %h1.page-header
        %i.fa.fa-money~ " Novo Negócio"
  .row
    .col-lg-4
      .panel.panel-default
        .panel-heading Dados do Negócio
        .panel-body
          = render 'form'
        .panel-footer
          = link_to "Voltar", deals_path
