%p
  Olá #{@resource.email}!
%p Alguém requisitou a troca de senha para a sua conta. Para completá-la clique no link abaixo:
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p Se você não solicitou a troca, por favor ignore este e-mail.
%p Sua senha não será trocada até que você clique no link.
