#page-wrapper
  = fa_page_header("Relatórios", "bar-chart-o")
  = fa_page_alert(notice)
  .row
    .col-lg-12
      .panel.panel-warning
        .panel-heading Atenção
        .panel-body Os relatórios ainda estão sendo montados.
